<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echo.modules.ums.mapper.UmsResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.echo.modules.ums.model.UmsResource">
        <id column="id" property="id" />
        <result column="res_name" property="resName" />
        <result column="res_desc" property="resDesc" />
        <result column="res_url" property="resUrl" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
    </resultMap>

    <select id="getResourceList" resultMap="BaseResultMap">
        SELECT
            ur.id id,
            ur.res_name resName,
            ur.res_url resUrl,
            ur.res_desc resDesc,
            ur.create_time createTime
        FROM
            ums_user_role_relation urr
                LEFT JOIN ums_role r ON urr.role_id = r.id
                LEFT JOIN ums_role_resource_relation rrr ON r.id = rrr.role_id
                LEFT JOIN ums_resource ur ON ur.id = rrr.resource_id
        WHERE
            urr.user_id = #{userId}

          AND ur.id IS NOT NULL
        GROUP BY
            ur.id
    </select>

</mapper>
